.closeIcon span {
  margin-right: 15px;
  font-size: 35px;
}
.close {
  color: #50abf1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
